<div class="buttons">
    <div class="pull-right">
        <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" />
    </div>
</div>

<script type="text/javascript"><!--
	$('#button-confirm').on('click', function() {

		$.ajax({
			url: 'index.php?route=extension/payment/quickpay/payment_link',
			type: 'post',
			data: $('#payment :input'),
			dataType: 'json',
			cache: false,
			beforeSend: function() {
				$('#button-confirm').button('loading');
			},
			complete: function() {
				$('#button-confirm').button('reset');
			},
			success: function(json) {
			    if (json['error']) {
                    alert(json['error']);
                    return;			     
			    }
                
				if (json['redirect']) {
					location = json['redirect'];
				} else {
					alert('No payment link retrieved. Please try again.');
                }
			},
            error: function( jqXHR, textStatus, errorThrown) {
				alert(jqXHR.responseText);
            }
		}).fail();
	});
	//--></script>